<main>
    <h1 class="my-5">{{header}}</h1>
    {{#with purchase}}
    <div class="nav nav-tabs">
        {{#each tabs}}
            <div class="nav-item"><a href="#" class="nav-link {{#if @first}}active{{/if}} px-5">{{this}}</a></div>
        {{/each}}
    </div>
    {{#with actionBlock}}
    <div class="row mt-3">
        <div class="col-4">
        <input type="text" class="form-control" placeholder="{{input.placeholder}}">
        </div>
        <div class="col-8">
            {{#each buttons}}
                <a href="{{link}}" class="btn
                {{#if isSuccess}}btn-success{{/if}}
                {{#if isOutline}}btn-outline-success{{/if}}
                {{#if isDanger}}btn-danger{{/if}}">{{text}}</a>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr>
    {{#each itemList}}
    {{> purchaseItem}}
    <hr>
    {{/each}}
    {{/with}}
    <hr class="my-5">
    {{#with userInfo}}
    <h2 class="mb-5">{{title}}</h2>
    <div class="card mb-3">
        <div class="card-body">
            <h4>{{title}}</h4>
            {{#with profileData}}
                {{#with fullName}}
                <div class="row">
                    {{#with surname}}
                    <div class="col-4">
                        <p class="mb-0">{{title}}</p>
                        <b>{{value}}</b>
                    </div>
                    {{/with}}
                    {{#with name}}
                    <div class="col-4">
                        <p class="mb-0">{{title}}</p>
                        <b>{{value}}</b>
                    </div>
                    {{/with}}
                    {{#with middleName}}
                    <div class="col-4">
                        <p class="mb-0">{{title}}</p>
                        <b>{{value}}</b>
                    </div>
                    {{/with}}
                </div>
                {{/with}}
                {{#with otherInfo}}
                <div class="row mt-3">
                    {{#with birthday}}
                    <div class="col-4">
                        <p class="mb-0">{{title}}</p>
                        <b>{{value}}</b>
                    </div>
                    {{/with}}
                    {{#with sex}}
                    <div class="col-4">
                        <p class="mb-0">{{title}}</p>
                        <b>{{value}}</b>
                    </div>
                    {{/with}}
                    {{#with language}}
                    <div class="col-4">
                        <p class="mb-0">{{title}}</p>
                        <b>{{value}}</b>
                    </div>
                    {{/with}}
                </div>
                {{/with}}
            {{/with}}
            <div class="row mt-3">
                {{#each buttons}}
                <div class="col-4">
                        <a href="{{link}}" class="btn 
                        {{#if isPrimary}}btn-primary{{/if}}
                        {{#if isSecondary}}btn-outline-secondary{{/if}}
                        {{#if isDanger}}btn-danger{{/if}}">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            {{#with recipients}}
                <h4>{{title}}</h4>
                <div class="row">
                    {{#each users}}
                    <div class="col-4">
                        <p class="mb-0 mt-4">{{name}}</p>
                        <b>{{phone}}</b>
                        <br>
                        <a href="{{button.link}}" class="btn btn-primary mt-4">{{button.text}}</a>
                    </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            {{#with contacts}}
                <h4>{{title}}</h4>
                {{#with contactData}}
                    <div class="row mt-3">
                        {{#with phone}}
                        <div class="col-4">
                            <p class="mb-0">{{title}}</p>
                            <b>{{value}}</b>
                        </div>
                        {{/with}}
                        {{#with additionalPhone}}
                        <div class="col-4">
                            <p class="mb-0">{{title}}</p>
                            <b>{{value}}</b>
                        </div>
                        {{/with}}
                        {{#with email}}
                        <div class="col-4">
                            <p class="mb-0">{{title}}</p>
                            <b>{{value}}</b>
                        </div>
                        {{/with}}
                    </div>
                {{/with}}

                <div class="row mt-3">
                    {{#each buttons}}
                    <div class="col-4">
                        <a href="{{link}}" class="btn 
                        {{#if isPrimary}}btn-primary{{/if}}
                        {{#if isSecondary}}btn-outline-secondary{{/if}}
                        {{#if isDanger}}btn-danger{{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
</main>