<main>
    <div class="row gy-5">
        {{#with navigation}}
        <section>
            <div class="col-8">
                <div class="row gx-5">
                {{#each links}}
                <a href="{{href}}" class="col-2 p-1">{{text}}</a>
                {{/each}}
                {{#with button}}
                <button class="mb-3 btn btn-primary col-2"><a href="{{href}}"><span class="text-light">{{text}}</span></a></button>
                {{/with}}
                </div>
            </div>
        </section>
        {{/with}}
        <hr class="my-0">

        {{#with header}}
        <div>
            <h1>{{{title}}}</h1>
            <p class="my-3">{{description}}</p>
            <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
        </div>
        <hr>
        {{/with}}
    {{#with city}}
        <h2>{{title}}</h2>

        <section class="col-12">
            <div class="row g-3">
                {{#each cards}}
                <div class="col-5">
                    <div class="card">
                        {{#with picture}}<img src="{{src}}" alt="{{alt}}" class="card-img-top">{{/with}}
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                            <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
        <hr class="my-5">
{{/with}}
{{#with winner}}
        <h2 class="mt-0">{{title}}</h2>
        {{#with table}}
        <table class="table">
            <thead>
                <tr>
                    {{#each head}}<th>{{this}}</th>{{/each}}
                </tr>
            </thead>

            <tbody>
                {{#each user}}
                <tr>
                    <td>{{place}}</td>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/with}}
{{/with}}
{{#with gallery}}
        <hr>
        <h2>{{title}}</h2>
        
        <section class="col-12 mt-2">
            <div class="row g-1">
                {{#each cards}}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">{{name}}</div>
                        {{#each items}}
                        <hr class="my-0">
                        <div class="card-body">{{this}}</div>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
        <hr>
{{/with}}
{{#with relaxion}}
        
        <div class="display-3">{{title}}</div>

        <section class="col-10">
            <div class="row g-5">
                {{#each cards}}
                <div class="col-5">
                    <div class="card text-bg-secondary">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h6>{{title}}</h6>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
{{/with}}
{{#with rest}}
        <hr>
        <section class="col-12">
            <div class="row g-3">
                {{#each cards}}
                <div class="col-5">
                    <div class="card text-center">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                            <a href="#" class="btn btn-primary">{{button}}</a>
                        </div>
                        <div class="card-footer">{{footer}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
{{/with}}
        <hr>
{{#with proposition}}
        <div class="display-2">{{title}}</div>

        <section class="col-10 ">
            <div class="row g-3">
                {{#each card}}
                <div class="col-5">
                    <div class="card text-bg-warning text-light">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
{{/with}}
        <hr>
{{#with footer}}
        <h5>{{title}}</h5>

        <section class="col-8 ">
            <div class="row g-3">
                <div class="col-4">
                {{#each navigation}}
                    <div class="col-12">
                    <button class="btn btn-outline-light mb-2"><a href="{{href}}">{{text}}</a></button>
                    </div>
                {{/each}}
                </div>

                <div class="col-4">
                {{#each socialMedia}}
                    <div class="col-12">
                    <a class="btn btn-outline-dark mb-2" href="{{link}}">{{name}}</a>
                    </div>
                {{/each}}
                </div>

                <div class="col-4">
                {{#each partners}}
                    <div class="col-12">
                    <a href="{{link}}" class="btn btn-outline-info mb-2">{{name}}</a>
                    </div>
                {{/each}}
                </div>
            </div>
        </section>
{{/with}}
    </div>

</main>